# Ignore virtual environments
.venv/
venv/
ENV/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Ignore data files
*.csv
*.tsv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db